<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block css %}
            {# Insérer les balises <link> de l'entrée "app" #}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block js %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block nav %}{% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
