{% extends '_template.html.twig' %}

{% block body %}
<div class="section">
    <h1 class="title ">Back-Ofiice</h1>
    <p>Vous êtes bien arrivé dans le back office</p>
    <a href="" class="button is-grey">Commentaires</a>
    <a href="" class="button is-grey">Notes</a>
    <a href="" class="button is-grey">Annonce</a>
</div>
{% endblock %}
